@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #2E2924;
    box-sizing: border-box;
}

.error {
    color: red;
}

nav {
    background-color: #6AA84F;
}

.txtNavbar {
    font-family: 'Roboto', sans-serif;
    /* color: #335126!important; */
}

.navbar-nav .nav-item a.nav-link:hover {
    color: black !important;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar.nav .nav-link {
        padding-right: 0;
        padding-left: 0;
    }
}


.custom-icon {
    font-size: 24px;
}

#bgRegister {
    /* height: 25vh; */
    background-color: #6AA84F;
    display: flex;
    flex-direction: column;
}

label {
    font-family: 'Roboto', sans-serif;
}

#createAccount {
    background-color: #6AA84F;
    font-family: 'Roboto', sans-serif;
    color: #f0f0f0;
    font-weight: 600;
}

#connectAccount {
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    color: #6AA84F;
    font-weight: 600;
}

#nav-offcanvas {
    font-family: 'Roboto', sans-serif;
}

form {
    font-family: 'Bebas Neue', sans-serif;
    color: #f0f0f0;
}

#button-discord {
    background-color: #5865F2;
    height: 6vh;
    font-size: 16px;
}

.text-discord {
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    display: inline;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    color: #f0f0f0;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    color: #f0f0f0;
}

h3 {
    font-family: 'Bebas Neue', sans-serif;
    /* font-size: 25px; */
}

h4 {
    font-family: 'Bebas Neue', sans-serif;
    color: #f0f0f0;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #f0f0f0;
}

li {
    font-family: 'Roboto', sans-serif;
    color: #335126;
}

.liDofus {
    font-family: 'Roboto', sans-serif;
    color: white !important;
}

hr {
    opacity: 1;
    border-width: 3px;
    color: black;
    width: 50%;
    margin: 0px 25%;
}

/* .card img {
    height: 20vh;
} */
#title-card-white {
    font-family: 'Roboto', sans-serif;
    color: #f0f0f0;
    font-weight: 600;
}

#bg-color-top-bottom-card {
    background-color: #4A433B;

}

#bg-color-body-card {
    background-color: #3C3630;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 17px 4px #000000;
}

.card-body {
    flex: 1;
}

#button-green {
    background-color: #6AA84F;
    font-family: 'Roboto', sans-serif;
    color: #f0f0f0;
    font-weight: 600;
}

#bgColorText {
    background-color: #4A433B;
}

table {
    font-family: 'Roboto', sans-serif;
}

.arrow-left {
    height: 7vh;
    color: #6AA84F;
}

@media (min-width: 1366px) {
    .dashboard-home {
        height: 66vh;
    }
}


.btn-research {
    border-radius: 0px 20px 20px 0px;
    margin-left: -7px;
    background: #6AA84F;
}

#searchForm {
    text-align: center;
}


#search,
.catégorie-home {
    width: 91%;
}


@media (min-width: 992px) {
    #search,
    .catégorie-home {
        width: 96%;
    }
}

.img-user {
    height: 25vh;
}

.img-user-comm {
    height: 18vh;
}
@media (max-width: 767px) {
    .img-user-comm {
        display: none;
    }
}

#title-comm-green{
    font-family: 'Roboto', sans-serif;
    color: #6AA84F;
    font-weight: 600;
}

#date-comm {
    font-family: 'Roboto', sans-serif;
    color: #f0f0f0;
    font-weight: 600;
    font-size: 16px;
}


.img-profil-header {
    height: 8vh;
}

@media (min-width: 991px) {
    .username-responsive {
        display: none;
    }
}


@media (max-width: 991px) {
    .img-profil-header {
        display: none;
    }
}
@media (min-width: 1024px) {
    li {
        font-size: 14px;
    }
}
@media (min-width: 1366px) {
    li {
        font-size: 16px;
    }
}

/* .password-input {
    position: relative;
} */

#togglePassword {
    /* margin-left: -30px; */
    cursor: pointer;
}


.info-color {
    color: #6AA84F;
}

.bg-alert {
    background-color: #6f8f61;
}
